.baskets {
    background-color: #161516;
    height: 100%;
    color: #FFFFFF;
}

.container {
    width: 860px;
    height: 1vh;
    margin: 0 auto;
}

.baskets__header {
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
    height: 129px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(#161516, 80%, transparent);
}

.header__left {
    display: flex;
    align-items: center;
}
.baskets__buttonArrow {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background-color: transparent;
    background-image: url(./../../../public/images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #D58C51;
}

.title {
    margin-left: 80px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    justify-self: center;
}

.main {
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-bottom: 100px;
}

.line {
    border-bottom: 1px solid #D58C51
}
.wrapper {
    bottom: 0;
    position: sticky;
    background: linear-gradient(transparent, 1%, #161516);
}

.footer {
    width: 860px;
    margin: 0 auto;
    height: 89px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.footer__sum {
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}


.footer__buttonConfirm {
    width: 200px;
    height: 42px;
    background-color: #D58C51;
    color: #131313;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}