.container {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 460px;
    min-height: 100vh;
    background: url(/public/images/bg-login.png);
    background-size: cover;
}

.authorization {
    width: 460px;
    margin: auto;
    background: #FFFFFF;
}

.authorization__item {

}

.authorization__nav {
    text-align: end;
    margin: 7px 19px 0 0;
    padding: 0;
}

.authorization__link {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #D58C51;
}

.authorization__title {
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
    margin: 15px 0 36px 0;
    padding: 0;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

/* .authorization__error {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: #FF0B0B;
    margin-bottom: 12px;
} */



.input {
    width: 100%;
    border: 1px solid #D58C51;
    border-radius: 61px;
    padding: 10px 0 10px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}

.input::placeholder {
    color: #161516;
}

.authorization__error {
    height: 15px;
    margin: 0 0 0 20px;
    padding: 0;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    color: #FF0B0B;
    visibility: hidden;
}

.authorization__error_visible {
    visibility: visible;
}


.button {
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
    padding: 12px 77px;
    font-weight: 400;
    color: #131313;
    background: #D58C51;
    font-size: 14px;
    line-height: 17px;
    height: 42px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 34px;
}


.button:hover {
    opacity: 0.9;
}


/* .checkbox {
    position: relative;
    margin-bottom: 28px;
}

.checkbox__label {
    display: flex;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #301411;
}

.checkbox__label_text {
}

.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox__input+.checkbox__label {
    cursor: pointer;
    display: inline-flex;

    align-items: center;
}
.checkbox__input+.checkbox__label::before {
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border: 1px solid #D58C51;
    border-radius: 50%;
    margin-right: 9px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.checkbox__input:checked +label::before {
    content:'0';
    position: absolute;
	top: 0px;
	left: 3px;
} */