.card {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 860px;
    height: 122px;
    /* border: 1px solid #D58C51; */
    color: #FFFFFF;
}
.card__half {
    height: 100%;
    display: flex;
    align-items: center;
}
.card__preview {
    height: 100%;
}

.card__title{
    max-width: 264px;
    margin-left: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.card__price {
    margin-right: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}

.card__button {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: transparent;
    background-image: url(../../../../public/images/cancel.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #D58C51;
}