.concrete-card__wrapper {
    display: flex;
    flex-direction: column;
}

.card {
    height: 734px;
    width: 1440px;
    margin: 0 auto;

    position: relative;
    color: #d58c51;
    background-color: black;
    background-image: url(../../../../public/images/bg.png);
}
.concrete-card__header {
display: flex;
justify-content:space-between;
margin-left: 68px;
margin-right: 68px;
margin-top: 60px;
align-items: center;
}
.header__group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.products__calc{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}
.baskets__buttonArrow {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background-color: transparent;
    background-image: url(../../../../public/images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #D58C51;
}
.products__button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #D58C51;
    border: none;
    background-image: url(../../../../public/images/basket.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.concrete-card__main {
    display: flex;
    margin-top: 30px;

}
.card__preview {
    width: 501px;
    height: 503px;

    margin-left: 140px;
}

.description__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 199px;
    margin-top: 88px;
}
.description__box {
    width: 528px;
    display: flex;
    flex-direction: column;
}
.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

    cursor: pointer;
}

.card__description {
    margin-top: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.card__price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
}

.card__button {
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
}

.card__button:hover {
    background-color: #d58c51;
    border: none;
}

.order__items {
    display: flex;
    gap: 5px;
    align-items: center;
}

.item_value {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.item_weigth {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-right: 65px;
}

.concrete-card__footer {
    display: flex;
    margin-top: 80px;
    align-items: center;
}
.concrete-card__buttons-item {
    border: 1px solid black;
    height: 42px;
    width: 200px;
}

.btn-exit{
    border: 1px solid #D58C51;
    background-color: transparent;
    color: #D58C51;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.btn-basket{
background-color: #D58C51;
color: #131313;
border: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}
